<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" 
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.4">
	
	<display-name>TodoList</display-name>
	
	<servlet>
		<description></description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>by.training.controllers.LoginController</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>LogoutController</display-name>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>by.training.controllers.LogoutController</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>RegisterController</display-name>
		<servlet-name>RegisterController</servlet-name>
		<servlet-class>by.training.controllers.RegisterController</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>AllocationController</display-name>
		<servlet-name>AllocationController</servlet-name>
		<servlet-class>by.training.controllers.AllocationController</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>AddNoteController</display-name>
		<servlet-name>AddNoteController</servlet-name>
		<servlet-class>by.training.controllers.AddNoteController</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ActionController</display-name>
		<servlet-name>ActionController</servlet-name>
		<servlet-class>by.training.controllers.ActionController</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>PerformedController</display-name>
		<servlet-name>PerformedController</servlet-name>
		<servlet-class>by.training.controllers.PerformedController</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>RemoveController</display-name>
		<servlet-name>RemoveController</servlet-name>
		<servlet-class>by.training.controllers.RemoveController</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>RecycleController</display-name>
		<servlet-name>RecycleController</servlet-name>
		<servlet-class>by.training.controllers.RecycleController</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>RestoreController</display-name>
		<servlet-name>RestoreController</servlet-name>
		<servlet-class>by.training.controllers.RestoreController</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>FileUploadController</display-name>
		<servlet-name>FileUploadController</servlet-name>
		<servlet-class>by.training.controllers.FileUploadController</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>FileDownloadController</display-name>
		<servlet-name>FileDownloadController</servlet-name>
		<servlet-class>by.training.controllers.FileDownloadController</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>FileDeleteController</display-name>
		<servlet-name>FileDeleteController</servlet-name>
		<servlet-class>by.training.controllers.FileDeleteController</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/login-controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/logout-controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterController</servlet-name>
		<url-pattern>/register-controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AllocationController</servlet-name>
		<url-pattern>/allocation-controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNoteController</servlet-name>
		<url-pattern>/add-note-controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionController</servlet-name>
		<url-pattern>/action-controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PerformedController</servlet-name>
		<url-pattern>/performed-controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveController</servlet-name>
		<url-pattern>/remove-controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecycleController</servlet-name>
		<url-pattern>/recycle-controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RestoreController</servlet-name>
		<url-pattern>/restore-controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileUploadController</servlet-name>
		<url-pattern>/upload-controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileDownloadController</servlet-name>
		<url-pattern>/download-controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileDeleteController</servlet-name>
		<url-pattern>/delete-controller</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	
	<jsp-config>
		<taglib>
			<taglib-uri>/jstl/core</taglib-uri>
			<taglib-location>/tld/c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/jstl/fmt</taglib-uri>
			<taglib-location>/tld/fmt.tld</taglib-location>
		</taglib>
	</jsp-config>
	
	
</web-app>
